$maincColor: #1E5A91;
$secandaryColor: #E67E22;
$linkColor: #a67c52;
$backgroundColor: #f8f9fa;
$grayColor: #eee;



//مفاسات الشاشات مشهورين لكل ممشاريع
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);